<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>GrilList</title>
    <!--<script src="./static/vue.js"></script>-->
    <!--<script src="./static/vue-resource.js"></script>-->
    <!--<script src="./static/axios.js"></script>-->
    <script src="http://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
    <script src="http://cdn.bootcss.com/vue-router/2.8.1/vue-router.min.js"></script>
    <script src="http://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <style type="text/css">
        #girlList tr td
        {
            border: 1px solid blue;
        }

    </style>
</head>
<body>
<div>
    <div id="newGirl">
        <!--<input v-model="id" />-->
        <input v-model="cupSize" title="cupSize"/>
        <input v-model="age" title="age"/>
        <input v-model="money" title="money"/>
        <div v-show="show">{{newGirlData}}</div>
        <button v-on:click="addGirl">新增</button>
    </div>
    <table id="girlList">
        <tr>
            <td>ID</td>
            <td>等级</td>
            <td>年龄</td>
            <td>成绩</td>
            <td>操作</td>
        </tr>
        <tr v-for="girl in girls">
            <td>{{ girl.id }}</td>
            <td>{{ girl.cupSize }}</td>
            <td>{{ girl.age }}</td>
            <td>{{ girl.money }}</td>
            <td><a>修改</a>&nbsp;&nbsp;<a>删除</a></td>
        </tr>
    </table>
</div>
<script>

     new Vue({
        el:"#girlList",
        data: {
            girls: ""
        },
        methods: {
            getGirls:function () {
                // this.$http.get('http://192.168.20.91:8089/girls', {
                // }, function (res) {
                //     alert(res.data);
                //     this.girls = res.data;
                // });
                this.$http.get('http://192.168.20.91:8089/girls', {
                }).then(function(res){
                    console.log(res);
                    console.log(res.data);
                    this.girls = res.data;
                });
            }
            // getGirls:function () {
            //     // this.$http.jsonp('https://api.douban.com//v2/movie/top250', {},
            //     this.$http.jsonp('http://192.168.20.91:8089/girls', {},
            //         {
            //         headers: {},
            //         emulateJSON: true
            //         }
            //     ).then(function(response){
            //         console.log(response);
            //         console.log(response.data);
            //     }, function (res) {
            //         console.log(res);
            //         console.log(res.data);
            //         this.girls = res.data;
            //     });
            // }
        },
        mounted:function(){
            this.getGirls();
        }
    });
     new Vue({
         el: "#newGirl",
         data: {
             // id: "",
             cupSize: "",
             age: "",
             money: "",
             newGirlData: "",
             show: true
         },
         methods:{
             addGirl:function () {
                 this.$http.post('http://192.168.20.91:8089/addGirl2', {
                     "cupSize":this.cupSize,
                     "age":this.age,
                     "money":this.money
                 }).then(function(res){
                     console.log(res);
                     console.log(res.data);
                     this.girls = res.data;
                 });
             }
         },
         computed:{
             newGirlData:function () {
                 return this.id + this.cupSize + this.age + this.money;
             }
         },
         watch:{
             newGirlData:function(){
                 console.log("update newGirlData");
                 this.show = !this.show;
             }
         }
     });
</script>

</body>
</html>